

/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
  line-height: 1.5;
  color: #2a2a2a;
}

button,
label {
  cursor: pointer;
}

input {
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.alert {
  position: fixed;
  bottom: 20px;
  right: 20px;
  margin: 0;
  background-color: #fff;
  color: #2a3ac4;
  border: 1px solid #2a2a2a;
  border-radius: 3px;
  padding: 24px;
  user-select: none;
  cursor: pointer;

  transform: translateX(calc(100% + 20px));
  visibility: hidden;
  opacity: 0;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.alert.success {
  border: 1px solid #388e3c;
  background-color: #4caf50;
  color: #fff;
}

.alert.is-visible {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}

.input-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 32px;
}

.timer-input {
  display: flex;
  align-items: center;
  border-radius: 3px;
  width: 280px;
  height: 45px;
  padding-left: 16px;
  border: 1px solid #4b0303dc;
  letter-spacing: 0.04em;
  color: #1111c4;
}

.timer-input:hover {
  border: 1px solid #000;
}

.timer-input:active {
  border: 1px solid #4efff6;
  color: #000;
}

.timer-input:disabled {
  color: #808080;
}

.timer-btn {
  border-radius: 8px;
  width: 80px;
  height: 45px;
  background-color: #4e9bff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #fff;
}

.timer-btn:hover {
  background-color: #6c8cff3f;
}

.timer-btn:disabled {
  background-color: #cfcfcf;
}

.timer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 24px;
  width: 350px;
}

.value {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  line-height: 1.4;
  letter-spacing: 0.04em;
  color: #000;
}

.label {
  font-family: 'Montserrat', sans-serif;
  color: #2e2f42;
}

.form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.snackbar-label {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
  color: #2e2f42;
}

.snackbar-input {
  border: 1px solid #b8c9ae;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  margin-bottom: 16px;
}

.snackbar-input:hover {
  border: 1px solid #000;
}

.snackbar-input:focus {
  border: 1px solid #4621e9;
  outline: none;
}

.legend-title {
  position: absolute;
  top: -14px;
  left: 12px;
  padding: 0 6px;
  text-align: start;
  background-color: #fff;
}


.snackbar-wrapper {
  display: flex;
  justify-content: center;
  width: 264px;
  height: 32px;
  gap: 48px;
  padding: 24px 48px 8px;
}

.snackbar-fieldset {
  position: relative;
  margin: 0;
  padding: 0;
  border-radius: 4px;
  border: 1px solid #808080;
  width: 360px;
  height: 65px;
  margin-bottom: 24px;
}

.snackbar-fieldset-input {
  border: 1px solid #757575;
  border-radius: 14px;
  width: 20px;
  height: 20px;
}

.snackbar-fieldset-label {
  display: flex;
  gap: 8px;
}

.snackbar-fieldset:hover {
  border: 1px solid #000;
}

.snackbar-btn {
  border-radius: 8px;
  width: 360px;
  height: 40px;
  background-color: #3a1fb3;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.snackbar-btn:hover {
  background-color: #6c8cff;
}